@import "_colors/_color-palette";

$primary-color: $grey-900;
$secondary-color: rgb(214, 11, 39);

$highlight-color-1: $secondary-color;
$highlight-color-2: $highlight-color-1;
$highlight-color-3: $highlight-color-1;

$white: #fff;
$black: #000;

$light-gray: $grey-100;
$middle-gray: $grey-400;
$dark-gray: $grey-900;

$body-background: $white;