@import "../../bower_components/susy/sass/susy";

$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: 1600px,
    container-position: center,
    columns: 12,
    gutters: 0.5,
    column-width: false,
    global-box-sizing: border-box,
    last-flow: to,
);

%container-outer {
    //@include container(1100px);
    @include container;
    @extend %clear;
    clear: both;

    //background: green;
}

%container-inner {
    @include container;
    @extend %clear;

    @include breakpoint($breakpoint-medium) {
        max-width: 75%;
    }

    //background: red;
}

.container {
    @extend %container-outer;
}

.container-inner {
    @extend %container-inner;
}