@import "../../bower_components/susy/sass/susy";

$susy: (
    flow: ltr,
    math: fluid,
    output: float,
    gutter-position: after,
    container: 1600px,
    container-position: center,
    columns: 12,
    gutters: 0.5,
    column-width: false,
    global-box-sizing: border-box,
    last-flow: to,
);

%container-outer {
    //@include container(1100px);
    @include container;
    @extend %clear;
    clear: both;
    //background: green;

    @include breakpoint($breakpoint-wide) {
        //overflow-x: hidden;
        //overflow-y: scroll;
        max-height: 100%;
        max-height: 100vh;
        overflow: hidden;
    }
}

%container-inner {
    //@include container(960px);
    @include container;
    @extend %clear;
    margin: 2em;
    overflow: hidden;

    //background: red;
}