//normalize
@import "../../bower_components/normalize-scss/normalize";

//colors
@import "_colors";

//custom Breakpoint mixins
@import "_breakpoints";

//Grid based on susy and custom breakpoints
@import "_grid";

//Typographic styles
@import "_typography";
@import "_variables";

//mixins
@import "_mixins";

figure {
  @extend %reset;
  border: none;
  padding: 0;
  margin: 0;
}

//Settings
@import "_settings";

//UI-Elements
@import "_ui";

@import "_animations";

$primary-font: 'sans-serif' !default;
$secondary-font: 'sans-serif' !default;

*, *:before, *:after {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

