//Accessibility
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

//Alignments
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

//Widgets
.widget {
  margin: 0 0 1.5em;
  select {
    max-width: 100%;
  }

}

.widget_search .search-submit {
  display: none;
}

//Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

//Comments
.comment-content a {
  word-wrap: break-word;
}

//Media
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

embed, iframe, object {
  max-width: 100%;
}

//Captions
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

//Galleries
.gallery {
  @extend %clear;
  margin-bottom: 1.5em;
}

.gallery-item {
  display: block;
  text-align: center;
  vertical-align: top;
  width: 100%;

  .gallery-columns-2 & {
    @include gallery(1 of 2);
  }
  .gallery-columns-3 & {
    @include gallery(1 of 3);
  }
  .gallery-columns-4 & {
    @include gallery(1 of 4);
  }
  .gallery-columns-5 & {
    @include gallery(1 of 5);
  }
  .gallery-columns-6 & {
    @include gallery(1 of 6);
  }
  .gallery-columns-7 & {
    @include gallery(1 of 7);
  }
  .gallery-columns-8 & {
    @include gallery(1 of 8);
  }
  .gallery-columns-9 & {
    @include gallery(1 of 9);
  }

}

.gallery-caption {
}

.gallery-item {
  @extend %transition;
  &:hover {
    background-color: #eee;
  }
}

.gallery-icon {
  @extend %transition;
  border: none;

  &:hover {
    background-color: lighten(#eee, 2.5%)
  }

  a {
    display: block;
    min-width: 100%;
    min-height: 100%;
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}
