._module-slider {
  @extend %z-layer-1;
  @extend %transition;
  @extend %reset;
}

.flexslider {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background: none;

  text-align: center;

  > ul {
    @extend %reset;

    > li {
      display: block;
    }
  }

  .flex-direction-nav {
    //display: none;

    a {
      color: transparent;
      text-shadow: none;
      overflow: visible;

      &:before {
        //color: $secondary-color;
        //text-shadow: none;
        font-family: 'FontAwesome';
        padding: 0;
        font-size: 4em;
        line-height: 1;
      }

    }

    .flex-prev {
      &:before {
        content: '\f053';
      }
    }

    .flex-next {
      &:before {
        content: '\f054';
      }
    }

  }

  .flex-control-nav {
    //width: 100%;
    //position: absolute;
    //bottom: -40px;
    //text-align: center;
  }

  .flex-control-paging {

    //width: 100%;
    //position: absolute;
    bottom: 1rem;
    z-index: 10;
    //text-align: center;

    li a {
      @extend %transition;
      box-shadow: none;
      background: $secondary-color;
      border: 1px solid transparentize($primary-color, 0.5);
      overflow: hidden;
      color: transparent;

      &.flex-active {
        background: $highlight-color-1;
      }
    }
  }
}