.wpcf7 {
  text-align: left;

  .ajax-loader {
    width: auto !important;
  }

  form > p {
    @extend %clear;
    clear: both;
  }

  label {
    color: $highlight-color-1;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea {
    @extend %form-reset;
    display: block;
    width: 100%;
    border: 1px solid $secondary-color;
    margin-bottom: 1em;
    background: transparent;
    padding: 0.5em;
  }

  .wpcf7-submit {
    @include button($secondary-color, $white, transparent);
    font-family: $primary-font;
    font-weight: $font-weight-normal;
    //margin: auto;
    //@include last;
  }

}