._module-buch-kapitel {

}

.kapitel-entry {
  @extend %clear;
  & + & {
    margin-top: gutter();
  }
}

.kapitel-title,
.kapitel-cta {
  @include gallery(6 of 12);
  p {
    @extend %reset;
  }
}

.kapitel-title {
  text-align: right;
}

.kapitel-cta {
  .cta-button {
    @include button($highlight-color-2);
    font-size: 75%;
  }
}