._module-page-header {
  @extend %z-layer-1;
  width: 100%;
  position: relative;
  overflow: hidden;

  background-color: $dark-gray;
  color: $white;

  text-align: center;
  @include breakpoint($breakpoint-medium) {
    text-align: left;
  }

  .cta-button {
    @include button($highlight-color-2);
  }

}

.page-header-image {
  @extend %z-layer-2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header-container {
  width: 100%;
  padding: 8em 0.75em 0 0.75em;

  @include breakpoint($breakpoint-medium) {
    max-width: 85%;
    margin: 0 auto;
    padding: 12em 0.75em 0 0.75em;
  }

}

@keyframes fadeIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.page-header-container-inner {
  position: relative;

  @include breakpoint($breakpoint-medium) {
    height: 0;
    padding-bottom: 40.65%; //magic number
  }
}

.page-header-hero {
  @extend %z-layer-3;
  width: 65%;
  position: relative;
  margin: 3em auto 0 auto;

  @include breakpoint($breakpoint-medium) {
    width: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
    animation: fadeIn 1125ms 10ms 1 forwards normal;
  }

  img {
    @extend %fleximage;
  }
}

.page-header-text {
  @extend %z-layer-ui;
  @include breakpoint($breakpoint-medium) {
    margin-left: 45%;
  }
}

.pageheader-text-headline {

  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  @include breakpoint($breakpoint-wide) {
    font-size: 6vmin;
  }
  line-height: 0.85;

  @include breakpoint($breakpoint-medium) {
    .line-one, .line-two {
      display: block;
    }
  }

  .line-one {
  }
  .line-two {
    color: $highlight-color-1;
  }
}

.page-header-text-subline {
  font-size: 1.25em;
  @include breakpoint($breakpoint-wide) {
    font-size: 3vmin;
  }
  line-height: 1;
  margin: 0.5em 0;
}

.page-header-text-copy {
  @extend %reset;
  font-size: 75%;
  margin-bottom: 1.75em;
}

