._module-checklisten {

  .checklisten {
    @extend %clear;
  }

  .checkliste-entry {
    @extend %box-shadow;
    background-color: $white;
    padding: 0.75em;

    margin-bottom: gutter();

    @include breakpoint($breakpoint-medium) {
      text-align: center;
      font-size: 75%;
      @include gallery(4 of 12);
    }
  }

  .checkliste-image {
    @extend %fleximage;
    margin-bottom: 1em;
  }

  .checkliste-title {
    text-transform: uppercase;
    color: $highlight-color-1;
    font-weight: 700;
    margin-bottom: 1em;
  }

  .checkliste-excerpt {
    margin-bottom: 1em;
  }

  .cta-button {
    @include button($highlight-color-2);
    display: block;
  }

}

