._module-home-posts {

  @extend %clear;

  padding-bottom: 0 !important;
  margin-bottom: 1em !important;

  @include breakpoint($breakpoint-medium) {
    @include span(4 of 12);
    @include last;
  }

  .posts-title {
    @include breakpoint($breakpoint-medium) {
      text-align: left;
    }
  }

}

