._module-buch-bestellen {
  background-color: $highlight-color-1;
  color: $white;

  .section-headline {
    color: $white;
  }

  .wpcf7-submit {
    @include button($highlight-color-1, $white, $white);
  }

  h4 {
    font-weight: $font-weight-bold;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .bestellen_price,
  .bestellen_conditions,
  .bestellen_bank {
    margin-bottom: 2em;
  }

  .bestellen_price_and_conditions {
    @include span(6 of 12);
    margin-bottom: 2em;
  }

  .bestellen_bank {
    @include span(6 of 12);
    @include last;
  }

  .bestellen_form {
    clear: both;

    .row {
      @extend %clear;

      .col {
        @include gallery(6 of 12);
      }
    }
  }
}