._module-veranstaltungskalender {

  .event-month-headline {
    border-bottom: 1px solid lighten($black, 80%);
    margin-bottom: 1em;
  }

  .event-month {
    @extend %reset;
  }

  .event-month-entry {
    margin-bottom: 1em;

    .post {
      @extend %card;
      padding: 1em;

      .post-link {
        margin-bottom: 0;
      }
    }
  }

  .grid .event-month-entry {
    @include gallery(4 of 12);
  }

  ul {
    @extend %reset;
  }
  
  .viewtypes {
    @extend %clear;
    margin: 1em 0;
    display: table;
    width: 100%;

    .btn[data-viewtype] {
      cursor: pointer;
      display: table-cell;
    }
  }

}