._module-home-topic-pages {
  @extend %clear;
  clear: both;

  .row {
    @extend %clear;
    margin-bottom: 2em;

    &:nth-child(odd) {
      background: desaturate(lighten($highlight-color-1, 50%), 40%);
      margin-left: -2em;
      margin-right: -2em;
      padding: 1em 2em 2em !important;
    }

    &:last-child {
      display: none;
    }
  }

  .btn,
  input[type=submit],
  input[type=button],
  button {
    @include button($highlight-color-1);
  }

  .topic {

    @include breakpoint($breakpoint-small-medium, $breakpoint-medium) {
      @include gallery(6 of 12);
    }

  }

  .topic-posts {
    @extend %clear;

    margin-bottom: 1em;

    &.topic-posts-3,
    &.topic-posts-4 {
      .post {
        @include gallery(6 of 12);

        border-bottom: none;
        padding-bottom: 0;

        &:nth-child(3),
        &:nth-child(4) {
          border-top: 1px solid lighten($black, 80%);
          padding-top: 1.5em;
        }
      }
    }
  }
  
}

