.wpcf7 {

  .ajax-loader {
    width: auto !important;
  }

  form > p {
    @extend %clear;
    clear: both;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea {
    @extend %form-reset;

    background-color: $white;
    display: block;
    width: 100%;
    border: 1px solid lighten($secondary-color, 40);
    margin-bottom: 1em;
    padding: 0.5em;
    font-family: $primary-font;
  }

  textarea {
    height: 9em;
  }

  .wpcf7-submit {
    @include button($highlight-color-2);
  }

}