<div class="_snippet-employee-quote">
    <div class="person-image">
        <img src="{{ TimberImage(person.thumbnail)|resize(240,240) }}" alt="">
    </div>
    <div class="person-quote">
        <p>{{ quote }}</p>
    </div>
</div>