{% set cat = convertTo(cat, 'EventTerm') %}

{% if cat.get_posts_with_filters(filters) %}
    {% for i in range(1, numberOfMonthsToShow) %}
        {% set events = cat.upcoming_events_for_month(now, filters) %}

        {% if events|length > 0 %}
            <h3 class="event-month-headline">{{ now.format('F Y') }}</h3>
            <ul class='event-month'>

                {% for event in events %}

                    <li class="event-month-entry">
                        {% include '_snippets/_snippet-event--small.twig' with {'post' : event} %}
                    </li>

                {% endfor %}

            </ul>
        {% endif %}

        {% set dummy = now.addMonth %}

    {% endfor %}

    {% set dummy = now.subMonths(numberOfMonthsToShow) %}

{% else %}

    <h3>{{ _e('Es liegen keine Veranstaltungen dieser Art vor.') }}</h3>

{% endif %}