._global-main {

  text-align: center;

  @include breakpoint($breakpoint-medium) {
    margin-top: $header-height;
  }

  strong {
    color: $highlight-color-1;
  }

  blockquote {
    font-style: normal;
    padding-left: 0;
    border-left: none;

    h2 {
      color: $grey-500;

      &:before {
        content: '„';
        display: inline;
      }

      &:after {
        content: '“';
        display: inline;
      }
    }

  }

}

