._global-footer {
  color: $grey-100;
  line-height: 2.45;

  @include breakpoint($breakpoint-medium) {
    font-size: 75%;
    line-height: inherit;
  }
}

._global-footer-container {
  padding: 3em 0.75em;
  background-color: $primary-color;
}

.footer-headline {
  color: $highlight-color-1;
  margin-bottom: 0.5em;
}

._global-footer-navigation {
  @include push(1 of 12);
  @include span(4 of 12);

  @include breakpoint($breakpoint-medium) {
    @include push(0);
    @include span(3 of 12);
  }

}

._global-footer-navigation {
}

._global-footer-contact {
  @include span(7 of 12);
  @include last;

  @include breakpoint($breakpoint-medium) {
    @include span(8 of 12);
  }
}

._global-footer-copyright {
  padding: 1.25em 0;
  background-color: $highlight-color-2;
  text-align: center;
  font-size: 75%;
  line-height: 1;
}