._global-footer-social {
  @extend %clear;

  ul {
    @extend %reset;
    display: block;

   li {
      display: block;
     margin-bottom: 1em;

     a {
       font-size: 100%;
     }

    }

  }

}