.nav-toggle {
  @extend %z-layer-modal;
  @extend %transition;
  padding: $header-padding;
  text-align: center;
  text-transform: uppercase;
  font-family: $secondary-font;
  //color: $highlight-color-1;
  //font-size: $header-text-height;

  /*&:before,
  &:after {
    @extend %transition;
    transform-origin: 0.5rem 0.1rem;
    position: absolute;
    display: block;
    content: '';
    width: 1rem;
    height: 0.15rem;
    background-color: $highlight-color-1;
    left: $header-padding;
  }

  &:before {
    top: 40%;
  }

  &:after {
    top: 60%;
  }*/

  &.active {
    //color: $secondary-color;
    //background-color: $highlight-color-1;

    &:before,
    &:after {
      @extend %transition;
      background-color: $secondary-color;
      top: 50%;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .fa {
    //display: none;
  }
}

._global-header-navigation,
._global-header-navigation--aux nav,
._global-header-navigation--contact {
  @extend %navigation;

  > ul {

    > li {
      @include breakpoint($breakpoint-medium) {
        font-size: $font-size--navigation;
      }

      @include breakpoint($breakpoint-wide) {
        font-size: $font-size--navigation * 1.25;
      }
    }
  }
}

._global-header-navigation {
  @extend %dropdown !optional;
  //@extend %menu-horizontal !optional;
  //@extend %menu-fullscreen !optional;

  clear: both;

  @include breakpoint($breakpoint-medium) {
    clear: none;
  }

  > ul {
    li {

      &.current-menu-item,
      &.current-page-ancestor,
      &.opened,
      &:hover {
        > a {
          opacity: 1 !important;
          color: $highlight-color-1;
          text-decoration: underline;
        }
      }
    }
  }

  .sub-menu {
    @include breakpoint($breakpoint-medium) {
      background: $secondary-color;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
  }

  &.nav-collapse {
    &.opened {
      border: 1px solid $secondary-color;
      border-left: none;
      border-right: none;
      top: 3.5rem;
      bottom: 3.5rem;

      @include breakpoint($breakpoint-medium) {
        background: none;
        height: $header-navbar-height;
      }

      .menu,
      .sub-menu {
        background: transparentize($black, 0.9);

        @include breakpoint($breakpoint-medium) {
          background: $secondary-color;
        }
      }
    }
  }
}

