._global-header {
  @extend %z-layer-ui;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  @include breakpoint($breakpoint-medium) {
    padding: 0;
  }

}

//._global-header-logo{ svg, img{ @extend %fleximage; } }

._global-header-navigation {
}