._snippet-employee-quote {
  @extend  %clear;
  display: table;
  margin-top: gutter(6);
  margin-bottom: gutter(6);

  .person-image {
    @extend %z-layer-2;
    @include span(2 of 12);

    img {
      @extend %box-shadow;
      @extend %user-image;
    }
  }

  .person-quote {
    @extend %z-layer-1;
    @include span(10 of 12);
    left: gutter();

    &::before,
    &::after {
      @extend %reset;
      display: block;
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: 42%;
      border-style: solid;
      border-width: 0.5em 1.5em 0.5em 0;
      border-color: transparent;
      transform: rotate(20deg);
    }

    &::before {
      border-right-color: desaturate(lighten($highlight-color-3, 55), 50);
      left: -0.9em;
      z-index: 30;
    }

    &::after {
      border-right-color: desaturate(lighten($highlight-color-3, 40), 50);
      left: -1em;
      z-index: 0;
    }

    p {
      @extend %reset;
      position: relative;;
      padding: gutter();
      margin: 0;
      background-color: desaturate(lighten($highlight-color-3, 55), 50);
      border: 1px solid desaturate(lighten($highlight-color-3, 40), 50);
      border-radius: 1em;
      z-index: 2;
    }
  }

  .person-image,
  .person-quote {
    @extend %reset;
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

}