.person {

  &--small,
  &--med {

    &.flexible-content-article {
      //@extend %layout--square;
      //@extend %layout--image-above-text;
      @extend %layout--image-next-to-text;

      text-align: left;
      padding: 0.5rem;

      display: table;
      table-layout: fixed;
      direction: ltr;
      position: relative !important;

      > a,
      > .image-container {
        display: table-cell;
        float: none;
        padding-bottom: 15%;
        width: 15%;

        @include breakpoint($breakpoint-medium) {
          padding-bottom: 35%;
          width: 35%;
        }
      }

      > .content-container {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
        direction: ltr;
        padding: $header-padding;
      }

      .content-wrapper {
        padding: 0;
      }

      &.has-image {
        > .content-container {
          width: 85%;

          @include breakpoint($breakpoint-medium) {
            width: 65%;
          }
        }
      }

      .content-container {
        background: $secondary-color;

        .flexible-content-link {
          @include button-positive;
          padding: 0;
          text-transform: none;
          border: none;
        }
      }

      .flexible-content-headline {
        text-align: left;
        white-space: nowrap;
        font-size: 90%;
      }

      .flexible-content-text {
        font-size: 60%;
      }
    }

    .person-contact-info-aux {
      display: none;
    }

    .person-contact-info--email {
      //@include button-positive;
      font-size: 100%;
      margin-top: 1em;
      text-transform: none;
      text-align: left;
    }

  }

  &--full {

    ul {
      @extend %list;
    }

    > .image-container {
      padding-bottom: 100%;
    }

    @include breakpoint($breakpoint-medium) {
      > .image-container {
        @include last;
        width: span(4 of 12);
        //padding-bottom: span(4 of 12);
        padding-bottom: initial;
        height: auto;

        figure {
          img {
            position: static;
            width: 100%;
            min-height: 0;
          }
        }

      }

      > .content-container {
        @include first;
        width: span(8 of 12);
      }

      .content-container {
        position: static;
      }

      .content-wrapper {
        padding: 0;
      }

    }

  }

}