._snippet-phone-cta {

  display: block;

  &.btn {
    a {
      @extend %transition;
      @include button();

      @include breakpoint($breakpoint-medium) {
        @include button(transparent, $highlight-color-1, $highlight-color-1);

        padding: 0 1em;

        &:hover,
        &:focus,
        &:active {
          color: $white !important;
        }
      }

      font-weight: $font-weight-normal;

    }
  }


}