._snippet-service {

  margin-bottom: 1em;

  .service-headline {
    text-align: center;
  }

  .service-description {
    font-size: 75%;
    text-align: center;
  }

  @include breakpoint($breakpoint-medium) {
    @include gallery(6 of 12);

    margin-bottom: 2em;

    .service-headline {
      text-align: left;
    }

    .service-description {
      text-align: left;
    }
  }

  @include breakpoint($breakpoint-wide) {
    @include gallery(3 of 12);
  }
}