{% if options.support_form %}
    <div class="_module-overlay overlay overlay-data">
        <div class="overlay-container">
            <div class="overlay-content">
                <span class="overlay-close" title="{{ _e('Formular schließen.') }}">&times;</span>
                {{ options.support_form }}
            </div>
        </div>
    </div>
    </section>
{% endif %}