<section class="_module-news-feed _module-news-feed--">
    <h2 class="posts-title">{{ feed.title }}</h2>

    {% for post in feed.posts %}
        {% include '_snippets/_snippet-post--small.twig' %}
    {% endfor %}
</section>