<div class="_module-additional-content">
    {% include ['_snippets/_snippet-flexible-content-article.twig'] with {'content': {
    'image': post.additional_content_image,
    'headline': post.additional_content_headline,
    'link': post.additional_content_link,
    'link_text': post.additional_content_link_text
    }} %}
</div>