<div class="container _module-hero">
    <div class="container-inner">

        {% block content %}
            <h1 class="hero-title">{{ title ? title : post.title }}</h1>
        {% endblock %}

    </div>
</div>

