<section class="_module-home-posts _module-home-press">
    <h2 class="posts-title">{{ _e('Presse') }}</h2>

    {% for post in posts_press %}
        {% include '_snippets/_snippet-post--small.twig' %}
    {% endfor %}
</section>