<section class="_module-lp-cta">
    {% include ['_snippets/_snippet-flexible-content-article.twig'] with {'content': {
    'headline': post.cta_headline,
    'text': post.cta_text,
    'image': post.cta_image,
    'link': post.cta_link,
    'link_text': post.cta_link_text,
    'darken': post.cta_darken
    }} %}
</section>