<div class="_module-hero">
    <div class="container">
        <div class="container-inner">

            {% block content %}
                <h1 class="hero-title">{{ title ? title : post.title }}</h1>
            {% endblock %}

        </div>
    </div>
    <div class="_module-hero-image-container">
        <div class="_module-hero-image"
             style="background-image: url('{{ TimberImage(options['header_fallback_image'])|resize(960) }}')">
        </div>
    </div>
</div>

