<section class="_module-gallery">

    <aside class="gallery-aside">
        <h3 class="gallery-aside-headline">{{ post.get_field('gallery-title') }}</h3>

        <div class="gallery-aside-text">
            {{ post.get_field('gallery-text') }}
        </div>
    </aside>

    <div class="gallery-main">
        {% for image in post.get_field('gallery') %}
            {% set image = TimberImage(image) %}
            <a href="{{ image }}" class="gallery-item" data-rel="lightbox[gallery]">
                <img src="{{ image|resize(300, 200, 'center') }}" alt="">
            </a>
        {% endfor %}
    </div>

</section>