{% if content.form %}
    <article class="flexible-content-article">
        <section class="_module-contactform" id="contactform">
            <div class="contactform_form">
                {{ content.form }}
            </div>
        </section>
    </article>
{% endif %}