<section class="_module-home-intro">
    <h2 class="intro-title">{{ post.intro_title }}</h2>
    <div class="intro-text">{{ post.intro_text|shortcodes }}</div>
    <a class="intro-link btn" href="{{ post.intro_link }}">Mehr erfahren</a>
</section>