{% if post.categories|default(categories) %}
    <ul class="categories">
        {% for cat in post.categories|default(categories) %}
            <li><a href="{{ cat.link }}">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}