{% extends "container.twig" %}

{% block content %}

    <section class="entry-content _module-veranstaltungskalender">

        {% set tabs = [] %}

        {% for cat in categories %}
            {% set tabs = tabs|merge([{
                slug : cat.slug,
                title : cat.name,
                content : include('_snippets/_snippet-events-by-category.twig')
            }]) %}
        {% endfor %}

        {% include '_modules/_module-tabs.twig' with {'tabs' : tabs} %}

    </section>

{% endblock %}