{% extends "container.twig" %}

{% block content %}
    <section class="_content _content-page {{ post.show_sidebar ? 'has-sidebar' : '' }}">
        {% include('_modules/_module-entry-content.twig') %}
        {% include('_modules/_module-flexible-content.twig') %}
        {% include '_modules/_module-contact-person.twig' %}
    </section>

    {% include('_modules/_module-sidebar.twig') %}
{% endblock %}