{% extends "container.twig" %}

{% block content %}
    <section class="_content-page _content-lieferanten">

        {% include('_modules/_module-posts.twig') with { 'posts' : suppliers } %}

    </section>
{% endblock %}