{% extends "container.twig" %}

{% block content %}
    <section class="_content _content-page _content-privacy-policy _content-datenschutz">
    	{% include ['_modules/_module-privacy-policy.twig', '_modules/_module-datenschutz.twig', '_modules/_module-entry-content.twig' ] %}
    </section>
{% endblock %}