{% extends "container.twig" %}

{% block content %}
    <section class="_content _content-page _content-impressum _content-imprint">
        {% include('_modules/_module-impressum.twig') %}
    </section>
{% endblock %}

