{% extends "container.twig" %}

{% block content %}
    <section class="_content-page _content-terminkalender">

        {% include '_snippets/_snippet-breadcrumbs.twig' %}
        {% include '_modules/_module-entry-content.twig' %}
        {% include '_modules/_module-veranstaltungskalender.twig' %}

    </section>
{% endblock %}