{% extends "container.twig" %}

{% block content %}

    <section class="_content-home _content-page">

        <h1 class="content-title">{{ _e('Das Wichtigste:') }}</h1>
        {% include('_modules/_module-slider.twig') with { 'slides' : post.get_field('slides')} %}
        {#{% include('_modules/_module-entry-content.twig') %}#}

    </section>
{% endblock %}

