{% extends "container.twig" %}

{% block content %}
    <section class="_content _content-history">
        {% include('_modules/_module-entry-content.twig') %}
        {% include('_modules/_module-flexible-content.twig') %}
        {% include('_modules/_module-history.twig') %}
    </section>
{% endblock %}