{% extends "container.twig" %}

{% block content %}
    <section class="_content-page _content-steckbriefe">

        {% include '_snippets/_snippet-breadcrumbs.twig' %}
        {% include '_modules/_module-entry-content.twig' %}
        {% include ['_modules/_module-steckbriefe-' ~ post.steckbrief_type ~ '.twig',
                    '_modules/_module-steckbriefe.twig'] with {'steckbriefe' : posts} %}
        {% include '_snippets/_snippet-pagination.twig' %}

    </section>
{% endblock %}