._content-single {

}

body.single-kapitel {

  @extend %transition;
  
  .container {
    position: relative;
  }

  .wrapper,
  ._global-header,
  ._global-header *,
  ._global-footer-container,
  ._global-footer-container *,
  .content-title,
  .content-content {
    @extend %transition;
  }

  .content-header {

    .readability-button {
      @include button($highlight-color-2);
      position: absolute;
      left: 1em;
      top: 1em;
      height: auto;
      font-size: 75%;
    }

    .cta-button {
      @include button($highlight-color-1);
      position: absolute;
      right: 1em;
      top: 1em;
      height: auto;
      font-size: 75%;

      @include breakpoint($breakpoint-small) {
        position: fixed;
        right: inherit;
        top: inherit;
        bottom: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
        backface-visibility: hidden;
        padding: 0.85em 0;
      }
    }
  }

  &.readability {
    background-color: $black;

    ._module-page-header {
      display: none;
    }

    .wrapper {
      max-width: 960px;
    }

    ._global-header,
    ._global-header *,
    ._global-footer-container,
    ._global-footer-container * {
      opacity: 0;
      max-height: 0;
      padding: 0;
      overflow: hidden;
      display: none;
      pointer-events: none;
    }

    .content-title {
      text-align: left;
      font-weight: $font-weight-normal;
    }

    .content-content {
      line-height: 1.7;
      font-weight: $font-weight-light;
    }
  }

}