h1, h2, h3, h4, h5, h6 {
  @extend %clear;
  margin: 0;
  font-family: $primary-font;
  font-weight: $font-weight-normal;

}

h1, h2, h3 {
  letter-spacing: 0.033em;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: $highlight-color-1;
}

h1 {
  font-size: 1.75em;
  @include breakpoint($breakpoint-small-medium) {
    font-size: 3em;
  }
  @include breakpoint($breakpoint-wide) {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.25em;
  @include breakpoint($breakpoint-small-medium) {
    font-size: 1.75em;
  }
  @include breakpoint($breakpoint-wide) {
    font-size: 2em;
  }
  margin-top: 0;
  margin-bottom: 0.5em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}