html {
  font-size: 14px;
  line-height: 1.45;

  @include breakpoint($breakpoint-small-medium) {
    font-size: 15px;
  }
  @include breakpoint($breakpoint-medium) {
    font-size: 16px;
  }
  @include breakpoint($breakpoint-wide) {
    font-size: 17px;
  }
  @include breakpoint($breakpoint-huge) {
    font-size: 18px;
  }
}