@charset "UTF-8";

.accordion-headline {

  text-align: center;
  min-height: 20px;

  .accordion-toggle {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 20px;

    &::before,
    &::after {
      @extend %transition;
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-left-width: 30px;
      border-right-width: 30px;
      border-bottom-width: 0;
      border-top-width: 0;
      border-color: $white transparent;
    }

    &::before {
      border-top-width: 20px;
    }

    &::after {
      border-bottom-width: 0;
    }

  }

  &.active .accordion-toggle {
    &::before {
      top: 100%;
      border-top-width: 0;
    }

    &::after {
      border-bottom-width: 20px;
    }
  }
}

