@charset "UTF-8";

$arrow-size: 0.4em;

%dropdown {

  .menu-item-has-children {

    @include toggle-indicators();

    /*> a {
      &::before,
      &::after {
        margin-top: $arrow-size * 2 !important;

        @include breakpoint($breakpoint-medium) {
          margin-top: $arrow-size !important;
        }
      }
    }*/

    @include breakpoint($breakpoint-medium) {

      &:hover {
        > .sub-menu {
          //display: block;
        }
      }

    }

  }

  .sub-menu {
    @extend %reset;

    background: coral;

    @include breakpoint($breakpoint-medium) {
      position: absolute;
      top: 0;
      left: 100%;

      width: auto;
      min-width: 15em;

      display: none !important;
    }
  }

  .menu-item {
    z-index: 10;

    &:hover {
      z-index: 20;

      > .sub-menu {
        display: block !important;
      }
    }
  }

  .sub-menu-item {
    line-height: 1;

    @include breakpoint($breakpoint-medium) {
      display: block;
      position: relative;
      text-align: left;
    }
  }

  .sub-menu-link {
    padding: 1em;
    padding-right: 2em;
    display: block;
  }

  .menu-depth-1 {
    background-color: red;
    z-index: 300;

    @include breakpoint($breakpoint-medium) {
      top: $header-navbar-height;
      left: 0;
    }
  }

  .menu-depth-2 {
    background-color: cyan;
    z-index: 200;
  }

  .menu-depth-3 {
    background-color: mediumpurple;
    z-index: 100;
  }

  //show certain links only on mobile
  .menu-link-mobile {
    display: none;
    @include breakpoint($breakpoint-small) {
      display: block;
    }
  }

}

%menu-horizontal {

  .container {
    @extend %container-outer;
  }

  .container-inner {
    @extend %container-inner;
  }

  .menu-item-has-children {
    position: static;

    @include breakpoint($breakpoint-medium) {

      &:hover {
        .menu-depth-1 {
          opacity: 1;
          position: absolute;
          left: 0;
          top: 100%;
          clip: auto !important;
          max-height: none !important;
          width: 100%;
          padding: 1rem 0 3rem;
        }
      }

    }

  }

  .sub-menu-item {
    padding: 1em;
    line-height: 1;

    @include breakpoint($breakpoint-medium) {
      display: block;
      position: relative;
      text-align: left;
    }
  }

  .menu-depth-1 {
    background-color: deeppink;

    @include breakpoint($breakpoint-medium) {
      column-count: 3;

      transition: opacity linear 0.1s;
      opacity: 0;
      position: absolute;
      display: block;
      overflow: hidden;
      zoom: 1;
      width: 0;
      padding: 0;

      &:after {
        display: block;
        content: '';
        background-color: hotpink;
        z-index: -1;
        position: absolute;
        top: 0;
        left: -500%;
        width: 10000%;
        height: 100%;
      }
    }

    > li {
      //padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      //padding-bottom: 1.5em;

      &:first-child {
        //padding-top: 1em;
      }
    }
  }

  .menu-depth-2 {
    background-color: cyan;
    position: static !important;
    //break-after: column;

    > li {
      padding-bottom: 0;
    }
  }

  .menu-depth-3 {
    background-color: pink;
  }

}

%menu-fullscreen {
  &.nav-collapse {
    transition: opacity 185ms linear;
    opacity: 0;

    @include breakpoint($breakpoint-medium) {
      opacity: 1;
    }

    &.opened {
      @extend %reset;
      @extend %z-layer-ui;
      position: fixed !important;
      width: 100%;
      height: auto;
      max-height: 100vh !important;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 1;
      clip: auto;
      background-color: lightcoral;

      > .menu {
        display: table !important;
        background: none !important;

        > .main-menu-item {
          display: table-row;
          height: auto;

          .main-menu-link {
            display: table-cell !important;
            vertical-align: middle;
            height: auto;
          }

          .sub-menu {
            display: none !important;
          }
        }
      }
    }
  }
}