@include breakpoint($breakpoint-medium) {

  .headroom {
    position: fixed;
    top: 0;
    .admin-bar & {
      top: 32px;
    }
    width: 100%;
    transition: transform 200ms linear;

    background: transparentize($white, 0.05);
    //background: cyan;
  }

  .headroom--top {
    //background: violet;
  }

  .headroom--not-top {
    //background: red;
  }

  .headroom--pinned {
    //background: mediumpurple;
  }

  .home .headroom--pinned {
    //background: greenyellow;
  }

  .headroom--unpinned {
    //background: orange;

    ._global-header-logo {
      img {
        width: auto;
        height: 2em;
      }
      padding-top: 1em;
    }

  }

}