{% if subpages_cta_link %}
    <nav class="_global-header-cta">
        <div class="cta-wrapper">
            <a href="{{ subpages_cta_link }}" class="btn">{{ subpages_cta_link_text }}</a>
        </div>
    </nav>
{% endif %}